<p>
	Multiple Image & Video Preview
</p>
<div>
	<input type='file' accept="image/*,video/*" (change)="onSelectFile($event)" multiple/>
</div>

	<ng-container>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item" [ngClass]="{'active': i == 0}"  *ngFor="let list of mydata;let i = index">
          <div class="img-video-div">
            <img *ngIf="list.type == 'img'" [src]="list.url" />
            <video *ngIf="list.type == 'video'" [src]="list.url" controls></video>
          </div>
        </div>  
      </div>

      <a *ngIf="mydata.length > 0" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a *ngIf="mydata.length > 0" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
	</ng-container>
  

 
 